.header {
  display: grid;
  grid-template-columns: 25% 25% 30% 20%;
}
.main {
  display: grid;
  grid-template-columns: 25% 75%;
  position:fixed;
  width: 100%;
  height: 100%;
  background-image: url("/chocofactory.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}
/* .productdiv {
  width: 70%;
  height: 60%;
  background-color: white;
  border-radius: 50px;
  margin: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
} */
.leftButtonDiv {
  background-color: transparent;
}

.leftButton {
  width: 80%;
  height: 10%;
  margin: 10%;
}
