
<main class="main">
  <div class="content">
    <div class="header">
      <div>
      <!-- <span>
        <img [attr.src]="server+world.logo" />
       </span> --> </div>
      <div> <span [innerHTML]="world.money | bigvalue"> </span> </div>
      <div> multiplicateur </div>
      <div> <span id="worldname"> {{user}} </span> </div>
    </div>
    <div class="main">
      <div class="leftButtonDiv"> 
        <button class="leftButton"> Carrière </button>
        <button class="leftButton"> Bonus </button>
        <button class="leftButton"> Améliorations </button>
        <button class="leftButton"> Managers </button>
        <button class="leftButton"> Anges </button>
      </div>
      <div class="products">
        @if (world.products.length != 0) {
        <div class="productdiv">
          <app-product [prod]="world.products[0]" class="product"></app-product>
        </div>
        <div class="productdiv">
          <app-product [prod]="world.products[3]" class="product"></app-product>
        </div>
        <div class="productdiv">
          <app-product [prod]="world.products[1]" class="product"></app-product>
        </div>
        <div class="productdiv">
          <app-product [prod]="world.products[4]" class="product"></app-product>
        </div>
        <div class="productdiv">
          <app-product [prod]="world.products[2]" class="product"></app-product>
        </div>
        <div class="productdiv">
          <app-product [prod]="world.products[5]" class="product"></app-product>
        </div>
      }
      </div>
    </div>
  </div>
</main>

<router-outlet />
