
<main class="main">
  <div class="content">
    <div class="header">
      <div>
      <!-- <span>
        <img [attr.src]="server+world.logo" />
       </span> --> </div>
      <div> <span id="worldname"> {{world.money}} </span> </div>
      <div> multiplicateur </div>
      <div> <span id="worldname"> {{user}} </span> </div>
    </div>
    <div class="main">
      <div class="leftButtonDiv"> 
        <button class="leftButton"> Carrière </button>
        <button class="leftButton"> Bonus </button>
        <button class="leftButton"> Améliorations </button>
        <button class="leftButton"> Managers </button>
        <button class="leftButton"> Anges </button>
      </div>
      <div class="products">
        <div class="productdiv"> premier produit 
          <app-product [prod]="world.products[0]" class="product"></app-product>
        </div>
        <div class="productdiv"> second produit </div>
        <div class="productdiv"> troisième produit </div>
        <div class="productdiv"> quatrième produit </div>
        <div class="productdiv"> cinquième produit </div>
        <div class="productdiv"> sixième produit </div>
      </div>
    </div>
  </div>
</main>

<router-outlet />
