.cadre {
    display: grid;
    grid-template-columns: 100px 1fr;
    margin-left: 10%;
    margin-right: 10%;
    background-color: darkslategray;
    border-radius: 25px;
    border-top-left-radius: 100px ;
    border-bottom-left-radius: 100px ;
}

.nom{
    font-family: cursive;
    font-size: large;
    color: white;
    padding: 10px;
    height : 20px;
    margin-left: 45px;

}


.icon {
    height: 120px;
    width: 120px;
    background-color: white;
    margin: 15px;
    margin-right: 0px;
    border-radius: 50%;

}

.grille1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: auto;
}

.grille2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.progBar {
    height: 50px;
    width: 75%;
    margin-left: 45px;
    margin-top: 0px;
    background-color: rgba(167, 167, 167, 0.838); 
    border-radius: 20px;
}

.buttonBuy{
    margin: 5px;
    margin-left: 45px;
    width: 95%;
    border-radius: 25px;
}
.timer{
    background-color: white;
    margin: 5px;
    margin-left: 45px;
    width: 40%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 5px;
    
    border-radius: 25px;
}

.prix {
    margin-left: 5px;
    margin-right: 2px;
}