<div class="cadre">
    <img class="icon" [attr.src]="server+product.logo" alt=""  (click)="startProduction()"/>

    <div class="grille1">
        <div class="nom">
            <span>{{product.name}} </span>
        </div>
            <app-my-progress-bar class="progBar" [run]="run" [auto]="auto" frontcolor="#008800" backcolor="#BBBBBB"
                [orientation]="orientation" [vitesse]="vitesse" [initialValue]="initialValue">
            </app-my-progress-bar>
            <div class="revenu">
                <span>Quantité : </span><span [innerHTML]="product.quantite | bigvalue"></span>
                <span>, Revenu : </span><span [innerHTML]="product.revenu*product.quantite| bigvalue"></span> €
            </div>
        <div class="grille2">
            <button class="buttonBuy" (click)="buyProduct()">Acheter<span class="prix" [innerHTML]="getPrixTot(getQtAchat()) | bigvalue"></span>€</button>
            <p class="timer">01:00:00</p>
        </div>
    </div>
</div>
